# Ignore node_modules directory
/node_modules

# Ignore logs
logs/

# Ignore build output
build/
dist/

# Ignore environment variables
.env

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*

# Ignore yarn error log
yarn-error.log*
